@if (city(); as c) {
  <button type="button" class="card" (click)="chosen.emit(c)" [title]="c.name">
    <span class="name">{{ c.name }}</span>
    <span class="country">{{ c.country }}</span>
    @if (temp() !== null) {
      <span class="row">
        <span class="emoji">{{ emoji() }}</span>
        <span class="temp">{{ temp() }}°<small>{{ pref.unit() }}</small></span>
      </span>
      <span class="realfeel">RealFeel® {{ realFeel() }}°</span>
    } @else if (weather.error()) {
      <span class="realfeel">{{ i18n.t('compare.loadError') }}</span>
    } @else {
      <span class="realfeel">{{ i18n.t('common.loading') }}</span>
    }
  </button>
}
